---
import { ExperienceTimeline, Section, TitleSection } from "../ui";
---

<Section id="experience" className="mb-14 md:mb-20">
  <TitleSection title="Experiencia laboral" />
  <ExperienceTimeline />
</Section>