---
import type { Skill } from '../../types/skills'
import Badge from './Badge.astro'

interface Props {
  skills: Skill[]
  titleSection: string
  className?: string
}

const { skills, titleSection } = Astro.props
---

<section class="group border border-line bg-surface rounded-xl p-5">
  <h3 class="font-mono text-xs text-center tracking-widest text-lime uppercase mb-4">
    { titleSection }
  </h3>
  <main>
    <div class="flex flex-wrap gap-3">
      {skills.map((skill: Skill) => (
        <Badge 
          size="md" 
          label={skill.name}
          className='flex flex-1 justify-center items-center text-center'
        >
          {/* <skill.icon class:list={'size-4'}/> */}
        </Badge>
      ))}
    </div>
  </main>
</section>
